ahk==1.8.4
chrome-devtools-protocol==0.4.0
Deprecated==1.3.1
et_xmlfile==2.0.0
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy==2.5.2
openpyxl==3.1.5
pandas==3.0.5
python-dateutil==2.9.0.post0
pywin32==312
six==1.17.0
tzdata==2026.3
websocket-client==1.9.0
wrapt==2.3.0
xlwings==0.36.17
