<?xml version="1.0" encoding="utf-8"?>
<Config>
  <FormState>
    <Columns />
    <X>443</X>
    <Y>82</Y>
    <Height>1022</Height>
    <Width>1069</Width>
    <splitterPosition>438</splitterPosition>
  </FormState>
  <Overwrite>false</Overwrite>
  <Maximum>5</Maximum>
  <VersionUrl>https://raw.githubusercontent.com/abdelkader/vCardEditor/master/vCardEditor/Releases.txt</VersionUrl>
  <Paths>
    <_innerList>
      <string>C:\Users\User.DESKTOP-HRNLHCS.000\Documents\newsetc2\vCardeditor\new_contacts.vcf</string>
      <string>C:\Users\User.DESKTOP-HRNLHCS.000\Documents\newsetc2\전화번호\new_contacts.vcf</string>
      <string>E:\git\newsetc2\전화번호\delete_include.vcf</string>
      <string>E:\git\newsetc2\전화번호\노선번호_include.vcf</string>
      <string>E:\git\newsetc2\전화번호\new_contacts.vcf</string>
    </_innerList>
    <Size>5</Size>
  </Paths>
</Config>