<?xml version="1.0" encoding="utf-8"?>
<Config>
  <FormState>
    <Columns />
    <X>1260</X>
    <Y>34</Y>
    <Height>1022</Height>
    <Width>1069</Width>
    <splitterPosition>438</splitterPosition>
  </FormState>
  <Overwrite>false</Overwrite>
  <Maximum>5</Maximum>
  <VersionUrl>https://raw.githubusercontent.com/abdelkader/vCardEditor/master/vCardEditor/Releases.txt</VersionUrl>
  <Paths>
    <_innerList>
      <string>E:\git\newsetc2\vCardeditor\google_contacts_2026-08-23.vcf</string>
      <string>E:\git\newsetc2\vCardeditor\new_contacts.vcf</string>
      <string>E:\git\newsetc2\python\new_contacts.vcf</string>
      <string>E:\git\newsetc2\전화번호\new_contacts.vcf</string>
      <string>E:\git\newsetc2\전화번호\contacts_2026-08-30.vcf</string>
    </_innerList>
    <Size>5</Size>
  </Paths>
</Config>